<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="ko-mission-page-holder">
    <h3>ماهية التصميم الداخلي   </h3>

    <p>
        التصميم الداخلي، وتُعد الماده الهندسية المسؤولة عن إظهار القيمة الجمالية للفراغ او الحيز من حيث التعريف اللفظي، اما القيمة الحقيقة والمدلول العلمي للتصميم الداخلي فهو يعني أكثر من ذلك حيث ان التصميم الداخلي هو اختصاص يهتم بالفراغ والحيز من حيث الشكل والاظهار وعلم الوظيفة و الجمال النسبي وأساسيات التصميم وعلم الاستاندرد ويعتني أكثر بدارسة سلوك الانسان وسلوك الاستخدام  ودارسة علم المادة من حيث التصنيع والقياسات والمواصفات وتوظيف التكنلوجيا و الخامات والانارة وعلم الأنماط (الإستايل) بمختلف العصور وعلم النجارة والاثاث وتكييف تلك المواد لخدمة حياة كريمة للإنسان.
    </p>
    <h3>عن التكاليف </h3>
    <p>
        يصنف نظام مركز دراسة التكاليف الاجمالية والمادية للمشاريع السكنية ما بين ٤٠٪ من إجمالي مركز التكلفة للمشاريع للمادة الانشائية (الهيكل الخرساني) للمبنى، حسب دراسة إحصائية أجرية على عملاء مشتركي برنامج خيرعون في مختلف دول الخليج، بينما يحسب لمادة التشطيب،٦٠٪ علماً بإن مادة التشطيب في تخصص التصميم الداخلي.
    </p>

    <div class="pack-section-holder">
        <ul>
            <li>مراحل الديكور الداخلي والتشطيب</li>
            <ul>
                <li>الأولى: مرحلة التأسيس وهي مرحلة مابعد الهيكل الخرساني من تأسيس شبكات المياه والكهرباء والانارة وصولاً الى بند اللياسة</li>
                <li>B.	الثانية: مراحل تشطيبات الديكور الداخلي وتبدأ من الاسقف الجبسية والدهانات ومواد الاكساء من البرسلان والباركيه، وصولاً الى بند الأثاث من المطابخ وغرف النوم وجميع فراغات المنزل لها نظام التأثيث الخاص بها. </li>
            </ul>
        </ul>
    </div>
</div>


</body>
</html>